[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
daphne = "*"
channels = "*"
channels-redis = "*"
redis = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
celery = "*"
cryptography = "*"
reportlab = "*"
matplotlib = "*"
pillow = "*"
psycopg = {extras = ["binary"], version = "*"}
pywebpush = "*"

[dev-packages]

[requires]
python_version = "3.13"
