-i https://pypi.org/simple
aiohappyeyeballs==2.6.1; python_version >= '3.9'
aiohttp==3.13.5; python_version >= '3.9'
aiosignal==1.4.0; python_version >= '3.9'
amqp==5.3.1; python_version >= '3.6'
asgiref==3.11.1; python_version >= '3.9'
attrs==26.1.0; python_version >= '3.9'
autobahn==25.12.2; python_version >= '3.11'
automat==25.4.16; python_version >= '3.9'
billiard==4.2.4; python_version >= '3.7'
cbor2==5.9.0; python_version >= '3.9'
celery==5.6.3; python_version >= '3.9'
certifi==2026.4.22; python_version >= '3.7'
cffi==2.0.0; python_version >= '3.9'
channels==4.3.2; python_version >= '3.9'
channels-redis==4.3.0; python_version >= '3.9'
charset-normalizer==3.4.7; python_version >= '3.7'
click==8.3.3; python_version >= '3.10'
click-didyoumean==0.3.1; python_full_version >= '3.6.2'
click-plugins==1.1.1.2
click-repl==0.3.0; python_version >= '3.6'
constantly==23.10.4; python_version >= '3.8'
contourpy==1.3.3; python_version >= '3.11'
cryptography==47.0.0; python_version >= '3.8' and python_full_version not in '3.9.0, 3.9.1'
cycler==0.12.1; python_version >= '3.8'
daphne==4.2.1; python_version >= '3.9'
django==6.0.4; python_version >= '3.12'
django-cors-headers==4.9.0; python_version >= '3.9'
djangorestframework==3.17.1; python_version >= '3.10'
djangorestframework-simplejwt==5.5.1; python_version >= '3.9'
fonttools==4.62.1; python_version >= '3.10'
frozenlist==1.8.0; python_version >= '3.9'
http-ece==1.2.1
hyperlink==21.0.0
idna==3.13; python_version >= '3.8'
incremental==24.11.0; python_version >= '3.8'
kiwisolver==1.5.0; python_version >= '3.10'
kombu==5.6.2; python_version >= '3.9'
matplotlib==3.10.9; python_version >= '3.10'
msgpack==1.1.2; python_version >= '3.9'
multidict==6.7.1; python_version >= '3.9'
numpy==2.4.4; python_version >= '3.11'
packaging==26.2; python_version >= '3.8'
pillow==12.2.0; python_version >= '3.10'
prompt-toolkit==3.0.52; python_version >= '3.8'
propcache==0.4.1; python_version >= '3.9'
psycopg[binary]==3.3.3; python_version >= '3.10'
psycopg-binary==3.3.3; python_version >= '3.10'
py-ubjson==0.16.1
py-vapid==1.9.4
pyasn1==0.6.3; python_version >= '3.8'
pyasn1-modules==0.4.2; python_version >= '3.8'
pycparser==3.0; python_version >= '3.10'
pyjwt==2.12.1; python_version >= '3.9'
pyopenssl==26.1.0; python_version >= '3.8'
pyparsing==3.3.2; python_version >= '3.9'
python-dotenv==1.1.1; python_version >= '3.9'
python-dateutil==2.9.0.post0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2'
pywebpush==2.3.0; python_version >= '3.10'
redis==7.4.0; python_version >= '3.10'
reportlab==4.4.10; python_version >= '3.9' and python_version < '4'
requests==2.33.1; python_version >= '3.10'
service-identity==24.2.0; python_version >= '3.8'
six==1.17.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2'
sqlparse==0.5.5; python_version >= '3.8'
twisted[tls]==25.5.0; python_full_version >= '3.8.0'
txaio==25.12.2; python_version >= '3.11'
typing-extensions==4.15.0; python_version >= '3.9'
tzdata==2026.2; python_version >= '2'
tzlocal==5.3.1; python_version >= '3.9'
ujson==5.12.0; python_version >= '3.10'
urllib3==2.6.3; python_version >= '3.9'
vine==5.1.0; python_version >= '3.6'
wcwidth==0.6.0; python_version >= '3.8'
yarl==1.23.0; python_version >= '3.10'
zope-interface==8.4; python_version >= '3.10'
